doctype html5
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css")
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css")
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel='stylesheet' href='/css/ah-tm.cards.css')
        link(rel='stylesheet' href='/css/ah-tm.md-table.css')
        link(rel='stylesheet' href='/css/ah-tm.md-list.css')
        link(rel='stylesheet' href='/css/ah-tm.label.css')
        link(rel='stylesheet' href='/css/ah-tm.datetime.css')
        
    body(ng-app="chatterbox" ng-controller="AppCtrl").icons-docs
        div(id="loading")
        header.md-page-header
            div.header
            md-toolbar.header.fixed(layout='row')
                h1.logo.md-toolbar-tools
                    if custom && custom.logo && custom.logo.enable
                        img(src=custom.logo.header class="ah-logo")
                    else
                        img(src="/images/logo_w.png" alt="Aerohive")
                span(flex)
                div(style="display:flex; padding-right: 20px")                           
                    md-button(aria-label="logout" href="/logout/" style="margin: auto;")                        
                        md-icon(class="material-icons" aria-label="menu") exit_to_app
                        span Logout

            
        div(id="main")
            md-content(layout="column")
                md-tabs(md-dynamic-height md-border-bottom)
                    md-tab 
                        md-tab-label Slack
                        md-tab-body
                            md-content(layout-padding)
                                a(href=slack_url)
                                    img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")
                            
                            md-content(md-whiteframe="5" style="margin: 5px;")
                                md-toolbar(layout="row" layout-align="center center")
                                    div.md-toolbar-tools
                                        h2
                                            span Number of Slack registrations: {{slack_data.length}}
                                        span(flex)

                                        div.md-toolbar-tools(id='table-search' ng-show="slack_query.show")
                                            md-input-container(md-no-float class="md-block search-tool")
                                                md-icon.material-icons.search-tool(style="color: white !important;") search
                                                input(ng-model="slack_query.filter" class="search-tool" placeholder="Search" style="border-color: rgba(250,250,250,0.3);")
                                            button.md-icon-button.md-button(type="button" ng-click="removeSlackFilter()" aria-label="close")
                                                md-icon.material-icons close
                                                md-tooltip(md-direction="bottom") Close                                                                    
                                                div.md-ripple-container
                            
                                        div.md-toolbar-tools(ng-hide="slack_query.show")
                                            div(flex)
                                            button.md-icon-button.md-button(ng-click="slack_query.show = true" aria-label="filter_list")
                                                md-icon.material-icons search
                                                md-tooltip(md-direction="bottom") Search
                                                div.md-ripple-container                                                        
                                            md-button.md-icon-button.md-button(ng-click="deleteSlackAccounts()")
                                                md-icon.material-icons delete
                                                md-tooltip(md-direction="bottom") Delete
                                    
                                
 

                                md-table-container
                                    table(md-table md-row-select multiple ng-model="slack_selected" md-progress="slack_request")
                                        thead(md-head md-order="slack_query.order" md-on-reorder="getDesserts")
                                            tr(md-row)
                                                th(md-column style="width: 5%")
                                                    div
                                                        md-checkbox(ng-change="selectAllSlack()" ng-disabled="slack_data.length <= 0" ng-model="selectAllChecked" class="md-accent" aria-label="Select All")
                                                th(md-column md-order-by="team_id")
                                                    span team_id
                                                th(md-column md-order-by="team_name")
                                                    span team_name
                                                th(md-column md-order-by="user_id")
                                                    span user_id
                                                th(md-column md-order-by="scope")
                                                    span scope
                                                th(md-column md-order-by="incoming_webhook.channel")
                                                    span Webhook channel
                                                th(md-column md-order-by="incoming_webhook.channel_id")
                                                    span Webhook channel_id
                                                th(md-column md-order-by="incoming_webhook.configuration_url")
                                                    span Webhook configuration_url
                                                th(md-column md-order-by="incoming_webhook.url")
                                                    span Webhook url
                                                th(md-column md-order-by="access_token")
                                                    span access_token
                                        tbody(md-body)
                                            tr(md-row md-select="slack" md-select-id="slack._id" ng-repeat="slack in slack_data | orderBy: slack_query.order" ng-click="selectOneSlack(slack, true)")
                                                td(md-cell)
                                                    div
                                                        md-checkbox(ng-model="slack.selected" class="md-accent" ng-change="selectOneSlack(slack, false)" ng-click="$event.stopPropagation();" aria-label="Select slack account")
                                                td(md-cell) {{slack.team_id}}
                                                td(md-cell) {{slack.team_name}}
                                                td(md-cell) {{slack.user_id}}
                                                td(md-cell) {{slack.scope}}
                                                td(md-cell) {{slack.incoming_webhook.channel}}
                                                td(md-cell) {{slack.incoming_webhook.channel_id}}
                                                td(md-cell) 
                                                    a(ng-href="{{slack.incoming_webhook.configuration_url}}" target="_blank") {{slack.incoming_webhook.configuration_url}}
                                                td(md-cell) 
                                                    a(ng-href="{{slack.incoming_webhook.url}}" target="_blank") {{slack.incoming_webhook.url}}
                                                td(md-cell) {{slack.access_token}}                                                            
                                md-table-pagination(md-limit="slack_query.limit" md-limit-options="[5, 10, 15]" md-page="slack_query.page" md-total="{{slack_data.length}}" md-page-select)
                    md-tab
                        md-tab-label Spark
                        md-tab-body
                            md-content(layout-padding)
                                md-button.md-raised(style="background-color: white;padding: 2px 10px;margin: 0 8px;border: solid 1px lightgray;" href=spark_url)
                                    img(alt="Add to Spark" height="30" width="30" style="vertical-align: middle" src="/images/spark.png")
                                    span(style="text-transform: none;") Add to 
                                    b(style="text-transform: none;") Spark
                            md-content(md-whiteframe="5" style="margin: 5px;")
                                md-toolbar(layout="row" layout-align="center center")
                                    div.md-toolbar-tools
                                        h2
                                            span Number of Spark registrations: {{spark_data.length}}
                                        span(flex)

                                        div.md-toolbar-tools(id='table-search' ng-show="spark_query.show")
                                            md-input-container(md-no-float class="md-block search-tool")
                                                md-icon.material-icons.search-tool(style="color: white !important;") search
                                                input(ng-model="spark_query.filter" class="search-tool" placeholder="Search" style="border-color: rgba(250,250,250,0.3);")
                                            button.md-icon-button.md-button(type="button" ng-click="removeSparkkFilter()" aria-label="close")
                                                md-icon.material-icons close
                                                md-tooltip(md-direction="bottom") Close                                                                    
                                                div.md-ripple-container
                            
                                        div.md-toolbar-tools(ng-hide="spark_query.show")
                                            div(flex)
                                            button.md-icon-button.md-button(ng-click="spark_query.show = true" aria-label="filter_list")
                                                md-icon.material-icons search
                                                md-tooltip(md-direction="bottom") Search
                                                div.md-ripple-container                                                        
                                            md-button.md-icon-button.md-button(ng-click="deleteSparkAccounts()")
                                                md-icon.material-icons delete
                                                md-tooltip(md-direction="bottom") Delete
                                    
                                
 

                                md-table-container
                                    table(md-table md-row-select multiple ng-model="spark_selected" md-progress="spark_request")
                                        thead(md-head md-order="spark_query.order" md-on-reorder="getDesserts")
                                            tr(md-row)
                                                th(md-column style="width: 5%")
                                                    div
                                                        md-checkbox(ng-change="selectAllSpark()" ng-disabled="spark_data.length <= 0" ng-model="selectAllChecked" class="md-accent" aria-label="Select All")
                                                th(md-column md-order-by="team_id")
                                                    span team_id
                                                th(md-column md-order-by="team_name")
                                                    span team_name
                                                th(md-column md-order-by="user_id")
                                                    span user_id
                                                th(md-column md-order-by="scope")
                                                    span scope
                                                th(md-column md-order-by="incoming_webhook.channel")
                                                    span Webhook channel
                                                th(md-column md-order-by="incoming_webhook.channel_id")
                                                    span Webhook channel_id
                                                th(md-column md-order-by="incoming_webhook.configuration_url")
                                                    span Webhook configuration_url
                                                th(md-column md-order-by="incoming_webhook.url")
                                                    span Webhook url
                                                th(md-column md-order-by="access_token")
                                                    span access_token
                                        tbody(md-body)
                                            tr(md-row md-select="spark" md-select-id="spark._id" ng-repeat="spark in spark_data | orderBy: spark_query.order" ng-click="selectOneSpark(spark, true)")
                                                td(md-cell)
                                                    div
                                                        md-checkbox(ng-model="spark.selected" class="md-accent" ng-change="selectOneSpark(spark, false)" ng-click="$event.stopPropagation();" aria-label="Select spark account")
                                                td(md-cell) {{spark.team_id}}
                                                td(md-cell) {{spark.team_name}}
                                                td(md-cell) {{spark.user_id}}
                                                td(md-cell) {{spark.scope}}
                                                td(md-cell) {{spark.incoming_webhook.channel}}
                                                td(md-cell) {{spark.incoming_webhook.channel_id}}
                                                td(md-cell) 
                                                    a(ng-href="{{spark.incoming_webhook.configuration_url}}" target="_blank") {{spark.incoming_webhook.configuration_url}}
                                                td(md-cell) 
                                                    a(ng-href="{{spark.incoming_webhook.url}}" target="_blank") {{spark.incoming_webhook.url}}
                                                td(md-cell) {{spark.access_token}}                                                            
                                md-table-pagination(md-limit="spark_query.limit" md-limit-options="[5, 10, 15]" md-page="spark_query.page" md-total="{{spark_data.length}}" md-page-select)
        
        
        script(type="text/javascript").
            function fadeIn(element){    
                setTimeout(function(){
                    var i = 1;
                    var f = 0.05;
                    element.style.opacity = parseFloat(element.style.opacity) - (f * i * i);
                    i++;
                    if (element.style.opacity > 0 && i < 50) fadeIn(element)
                    else element.parentNode.removeChild(element);;
                    }, 20);
            }
            document.addEventListener("DOMContentLoaded", function(event) {
                var element = document.getElementById("loading"); 
                element.style.opacity = 1.0;                
                fadeIn(element);
            });

        script(src="/bower_components/angular/angular.min.js")

        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/bower_components/angular-messages/angular-messages.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")
        script(src="/bower_components/angular-material-data-table/dist/md-data-table.min.js")
        script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
        script(src="/web-app/web-app.js")
        script(src="/web-app/services.js")